<%- include('partials/header') %>
<% if(bar) { %>
  <header class="jumbotron">
    <div class="container">
      <h2 class="header-display"><%= bar.name %></h2>
    </div>
  </header>
  <img src="<%= bar.image %>">
  <p><%= bar.description %></p>
<% } else if(restaurant) { %>
  <h2 class="header-display"><%= restaurant.name %></h2>
  <img src="<%= restaurant.image %>">
  <p><%= restaurant.description %></p>
<% } %>
<%- include('partials/footer') %>
