<%- include('../partials/header') %>
<header class="jumbotron">
  <div class="container">
    <h2 class="header-display">Restaurants</h2>
  </div>
</header>
<p><a class="btn btn-success" href="/restaurants/new">Add a Restaurant</a></p>

<div class="row text-center">
  <% restaurants.forEach((restaurant) => { %>
    <div class="col-md-3 col-sm-6">
      <a href="/restaurants/<%= restaurant._id %>">
        <img src="<%= restaurant.image %>" class="img-thumbnail">
      </a>
      <div class="caption">
        <h4><%= restaurant.name %></h4>
      </div>
    </div>
  <% }) %>
</div>
<%- include('../partials/footer') %>
