<%- include('../partials/header') %>
  <header class="jumbotron">
    <div class="container">
      <h2 class="header-display"><%= bar.name %></h2>
      <% if(currentUser && bar.author.id.equals(currentUser._id)) { %>
        <a href="<%= bar._id %>/edit"><button class="btn btn-success">Edit/Destroy Here</button></a>
      <% } %>
    </div>
  </header>
  <img src="<%= bar.image %>">
  <p><%= bar.description %></p>
  <p><em>Submitted by: <%= bar.author.username %></em></p>
    <p><a class="btn btn-success" href="/bars/<%= bar.id %>/comments/new">Add a Comment</a></p>
  <% bar.comments.forEach((comment) => { %>
    <p>
      <%= comment.author.username %> - <%= comment.text %>
    </p>
    <a class="btn btn-xs btn-warning" href="/bars/<%= bar._id %>/comments/<%= comment._id %>/edit">Edit</a>
  <% }) %>
<%- include('../partials/footer') %>
